<div class="card mt-0">
    <div class="card-header">
      <div class="float-left">
        <h4>Proprietario</h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Usuario</button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">Refresh</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover" *ngIf="proprietarios$ | async as prop; else loading">
        <thead>
          <tr>
            <th>#</th>
            <th>Proprietario</th>
            <th>E-mail</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prop of prop" > 
            <td>{{ prop.id }}</td>
            <td>{{ prop.nome }}</td>
            <td>{{ prop.email }}</td>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(prop.id)">
                  Atualizar
                </button>
                {{ ' ' }}
                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(prop)">
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      
        <ng-template #loading>
            <div *ngIf="error$ | async; else loadingNoErrors">
                Erro ao crregar Proprietarios tente novamente mais tarde.
            </div>
            <ng-template #loadingNoErrors>
                <span>Carregando Proprietarios...</span>
            </ng-template>
        </ng-template>
    </div>
  </div>

  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover esse proprietario?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
    </div>
  </ng-template>